@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 1rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

body {
    font-family: 'Poppins';
}

.sidebar {
    position: fixed;
    top: 0;
    /* width: 100%; */
    flex-grow: 1;
}

.sidebar-container {
  display: flex;
}

.dialog {
    color: white;
    text-decoration: none;
    position: relative;
    padding-left: 16px; /* Ensure the text aligns with the underline */
}

.dialog::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 10px;
    left: 16px; /* Align the underline with the text */
    right: 16px; /* Ensure the underline doesn't extend too far */
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.dialog:hover::after {
    visibility: visible;
    width: calc(100% - 32px); /* Account for both left and right padding */
}

.send-button {
    background: none;
    border: none;
    cursor: pointer;
}

.send-button svg {
    stroke: #000000;
    color: #000000;
    background: none;
}

.send-button:hover svg {
    stroke: #d5bde9;
    color: #d5bde9;
    background: none;
}

.send-button:active svg {
    stroke: #8c46c5;
    color: #8c46c5;
    background: none;
}


/* Add this to your CSS file */
.user-message {
    margin-right: 2rem;
    max-width: 70%;
    text-wrap: balance;
    /* Adjust as needed */
}

.ai-response {
    margin-left: 2rem;
    max-width: 70%;
    text-wrap: balance;
    /* Adjust as needed */
}

code {
    display: inline;
    font-family: Consolas, Menlo, Monaco, Lucida Console, monospace;
    background-color: rgb(39, 39, 39);
    padding: 4px 8px;
    border-radius: 4px;
    overflow-x: auto;
    text-wrap: balance;
}

pre {
    display: block;
    background-color: rgb(39, 39, 39);
    padding: 1em;
    padding: 4px 8px;
    border-radius: 4px;
    overflow-x: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

pre code.language-* {
    display: block;
    background-color: transparent;
}

#user-message code {
    background-color: rgb(39, 39, 39);
    color: #fff;
}

#ai-response code {
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: rgb(39, 39, 39);
    /* padding: 2px 4px; */
    /* border-radius: 4px; */
}

#ai-response table code {
    background-color: transparent;
    padding: 0;
}

#user-message,
#ai-response {
    /* font-family: '', sans-serif; */
    font-size: 16px;
    line-height: 1.6;
    /* color: #333; */
}

/* #ai-response p {
    margin-bottom: 1rem;
  } */

#ai-response strong {
    font-weight: bold;
}

#ai-response em {
    font-style: italic;
}

#ai-response del {
    text-decoration: line-through;
}

#ai-response a {
    color: #8c46c5;
    text-decoration: none;
}

#ai-response a:hover {
    text-decoration: underline;
}

#ai-response ol,
#ai-response ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

#ai-response ol li,
#ai-response ul li {
    margin-bottom: 0.5rem;
}

#ai-response blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 4px solid #ccc;
    font-style: italic;
}

#ai-response h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#ai-response h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

#ai-response h3 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
}

#ai-response h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

#ai-response h5 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

#ai-response h6 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

#ai-response ol {
    list-style-type: decimal;
}

#ai-response ul {
    list-style-type: disc;
}

#ai-response ol ol {
    list-style-type: lower-alpha;
}

#ai-response ol ol ol {
    list-style-type: lower-roman;
}

#ai-response ul ul {
    list-style-type: circle;
}

#ai-response ul ul ul {
    list-style-type: square;
}

#ai-response ol li::marker,
#ai-response ul li::marker {
    color: #ffffff;
    font-weight: bold;
}

#ai-response table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#ai-response th,
#ai-response td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
}

#ai-response th {
    background-color: #1b1b1b;
    font-weight: bold;
}

#ai-response tr:nth-child(even) {
    background-color: #1b1b1b;
}

/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff2c;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}